<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Legal Notice</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/templates/header.css" />
    <link rel="stylesheet" href="/css/templates/footer.css" />
    <link rel="stylesheet" href="/css/legalNotice.css" />
</head>

<body>

<header>
    <%- include('../../templates/header.html') %>
</header>

<main>
    <div class="legal-notice">
        <h2>Impressum</h2>
        <p>
            Hinweis:<br>
            Dies ist eine nicht-gewerbliche Website, die im Rahmen eines studentischen Projekts an der Hochschule Mainz betrieben wird.
        </p>
        <p>
            Verantwortlich für den Inhalt dieser Website:<br>
            Stud. Gruppenarbeit "collectiqo" - Praxismodul II<br>
            (Wirtschaftsinformatik dual B.Sc., 5. Semester, WiSe 2024/25)<br>
            - im Zusammenhang -<br>
            Hochschule Mainz<br>
            Lucy-Hillebrand-Straße 2<br>
            55128 Mainz<br>
            Deutschland
        </p>
        <p>
            Kontakt:<br>
            E-Mail: <a href="mailto:fy7mgvehd@mozmail.com">fy7mgvehd@mozmail.com</a>
        </p>
    </div>
</main>

<footer>
    <%- include('../../templates/footer.html') %>
</footer>

</body>

</html>
