/out/.aux
/out/.glo
/out/.idx
/out/.log
/out/.toc
/out/.ist
/out/.acn
/out/.acr
/out/.alg
/out/.bbl
/out/.blg
/out/.dvi
/out/.glg
/out/.gls
/out/.ilg
/out/.ind
/out/.lof
/out/.lot
/out/.maf
/out/.mtc
/out/.mtc1
/out/.out
/out/.gz