<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing Page</title>
  <link rel="stylesheet" href="./css/style.css"/>
  <link rel="stylesheet" href="./css/templates/header.css" />
  <link rel="stylesheet" href="./css/templates/footer.css" />
</head>

<body>

<header>
  <%- include('./templates/header.html') %>
</header>

  <main>
    <div class="upper-third">
      <img src="filler_picture.png" alt="High-quality image" />
    </div>
    <div class="middle-third">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis lectus nibh.
      </p>
      <div class="auth-buttons">
        <button onclick="redirectToLoginPage()">Login </button>
        <button onclick="redirectToSignUpPage()">Sign Up </button>
      </div>
    </div>
    <div class="lower-third">
      <img src="filler_picture.png" alt="Another high-quality image" />
    </div>
  </main>

  <footer>
    <%- include('./templates/footer.html') %>
  </footer>

<script>
  function redirectToLoginPage() {
    window.location.href = "/login"; // Redirect to the login route
  }
  function redirectToSignUpPage() {
    window.location.href = "/signup"; // Redirect to the login route
  }
</script>

</body>

</html>
