body {
    color: #333;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.div-block {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    object-fit: contain;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
}

.container {
    float: left;

}

.container-2 {
    float: right;
    display: flex;
}

.wrapper {
    background-color: #e2f1f8;
    border-bottom: 1px solid #e4ebf3;
    padding: 80px 30px;
    position: relative;
}

.container-3 {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.centered-heading {
    text-align: center;
    margin-bottom: 16px;
}

.grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 2.25fr 1fr 1fr;
    grid-auto-columns: 1fr;
}

.profile {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    color: #6b6b6b;
    background-color: #ddedf4;
    border-radius: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    margin-right: 0;
    padding: 32px 24px;
    display: flex;
    box-shadow: inset -6px -6px 8px rgba(233, 250, 255, .71);
}

.profile.div-block {
    aspect-ratio: auto;
    width: auto;
    margin-right: 59px;
    padding-right: 22px;
    position: static;
}

.testimonial-main-image {
    object-fit: cover;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-right: 24px;
}

.testimonial-main-content {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.margin-bottom-24px {
    margin-bottom: 24px;
}

.testimonial-main-heading {
    margin-bottom: 2px;
    font-weight: 600;
}

.block {
    background-color: #ddedf4;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 24px;
    display: flex;
    box-shadow: inset -5px -5px 9px rgba(237, 245, 255, .31);
}

.block.platforms {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-right: 0;

}

.testimonial-info-two {
    align-items: center;
    display: flex;
}

.header-labels {
    margin-right: 0;
    padding-bottom: 7px;
    padding-right: 0;
    font-size: 16px;
    font-weight: 700;
}

.link {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 7px;
    margin-right: 14px;
    padding-bottom: 0;
    padding-right: 99px;
    font-size: 10px;
    font-style: normal;
    text-decoration: none;
    display: flex;
}

.link.profile {
    color: #262626;
    margin-top: -2px;
    margin-left: -219px;
    margin-right: 24px;
    padding-left: 0;
    padding-right: 53px;
    transition: opacity .2s;
}

.container-4 {
    flex: 0 auto;
    align-self: flex-start;
}

.submit-button {
    color: #545050;
    background-color: #d1e3f3;
    border-radius: 16px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, .38), -2px -1px 5px rgba(0, 0, 0, .2);
}

form {
    object-fit: contain;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.textarea {
    line-height: 110px;
}

@media screen and (max-width: 991px) {
    .container-3 {
        max-width: 728px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .testimonial-main-image {
        width: 300px;
        height: 350px;

    }
}

