/* ////////////////////
////////// CSS Variables
//////////////////// */
:root {
    --padding: 0.7rem;
    --margin-left: 0.5rem;
    --smoky-black: #12100e;
    --pine-tree: #98a320;
    --blue: #1672c8;
    --white: #ffffff;
    --font-size: 1.2rem;
}

/* ////////////////////
////////// General Styles
//////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

/* ////////////////////
////////// Main container
//////////////////// */
.container {
    width: auto;
    min-height: 100vh;
    transition: margin-left 0.3s linear;
    position: relative;
    z-index: 2;
}

/* ////////////////////
////////// HEADER
//////////////////// */
.header {
    width: 100%;
    display: flex;
    background-color: var(--blue);
    padding: 0 var(--padding); /* Add padding to match other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
    z-index: 999; /* Ensure header appears above other content */
    height: 50px;

    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

/* ////////////////////
////////// Main content
//////////////////// */
/* ////////////////////
////////// Main container
//////////////////// */

.content-container {
    width: 100%; /* Set width to 100% to span the entire viewport */
    display: flex; /* Use flexbox to center content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* ////////////////////
////////// Main content
//////////////////// */
.content {
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text content */
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Styling the list of collections */
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f0f0f0;
}

/* Centered message styling */
.centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    font-size: 24px;
    color: #666;
}