<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/error-page.css" />
    <title>404 - Page not found</title>
  </head>
  <body>
    <div class="content">
      <img class="body-image" src="../../public/assets/img/error-page.png" alt="Error_Logo_black">
      <h1>404 - Page not found</h1>
      <p>This page does not exist.</p>
    </div>
  </body>
</html>
