<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="../../../public/css/login.css">
  <script src="../../../public/js/redirecting.js"></script>
</head>

<body>
  <div class="container">
    <h1>Login</h1>
    <form id="loginForm">
      <input type="text" id="username" placeholder="Username or Email" required>
      <input type="password" id="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>
    <p class="switch-option">Don't have an account? <a onclick="redirectToSignUpPage()">Sign Up</a></p>
  </div>
</body>

<script>
  document.getElementById('loginForm').addEventListener('submit', async function(event) {
    event.preventDefault();

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    try {
      const response = await fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username, password })
      });

      const data = await response.json();
      if (response.status === 200) {
        alert('Login successful');
        window.location.href = '/home';
      } else {
        alert(data.message);
      }
    } catch (error) {
      alert('An error occurred');
    }
  });
</script>

</html>
