<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Page</title>
  <link rel="stylesheet" href="/css/signup.css">
  <script src="/js/redirects/auth/redirectToLoginPage.js"></script>
  <script src="/js/submits/auth/submitSignUpForm.js"></script>
</head>

<body>
  <div class="container">
    <h1>Sign Up</h1>
    <form id="signup-form">
      <input type="text" id="username" placeholder="Username" required>
      <input type="email" id="email" placeholder="Email" required>
      <input type="password" id="password" placeholder="Password" required>
      <button type="submit" onclick="submitSignUpForm()" >Sign Up</button>
    </form>
    <p class="switch-option">Already have an account? <a onclick="redirectToLoginPage()">Login</a></p>
  </div>
</body>

</html>
