<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing Page</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/templates/header.css" />
  <link rel="stylesheet" href="/css/templates/footer.css" />
  <script src="/js/redirects/auth/redirectToLoginPage.js"></script>
  <script src="/js/redirects/auth/redirectToSignUpPage.js"></script>
</head>

<body>

<header>
  <%- include('./templates/header.html') %>
</header>

  <main>
    <div class="centerPage">
      <div class="mascotPicture">
        <img src="assets/img/collecta-as-logo.png" alt="Collecta" />
      </div>
      <div class="login-panel">
        <h1>Sign up, start collecting now!</h1>
        <div class="signup-container">

          <form id="signup-form">
            <input type="text" id="username" placeholder="Username" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit" onclick="submitSignUpForm()">Sign Up</button>
          </form>
          <p class="switch-option">Already have an account? <a onclick="redirectToLoginPage()">Login</a></p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('./templates/footer.html') %>
  </footer>

</body>

</html>
