<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="appleid-signin-client-id" content="[CLIENT_ID]">
  <meta name="appleid-signin-scope" content="[SCOPES]">
  <meta name="appleid-signin-redirect-uri" content="[REDIRECT_URI]">
  <meta name="appleid-signin-state" content="[STATE]">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing Page</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/templates/header.css" />
  <link rel="stylesheet" href="/css/templates/footer.css" />
  <script src="/js/redirects/auth/redirectToLoginPage.js"></script>
  <script src="/js/submits/auth/submitSignUpForm.js"></script>
</head>

<style>
  .signin-button {
    width: 210px;
    height: 40px;
  }
</style>

<body>

<header>
  <%- include('./templates/header.html') %>
</header>

  <main>
    <div class="centerPage">
      <div class="mascotPicture">
        <img src="assets/img/collecta-as-logo.png" alt="Collecta" />
      </div>
      <div class="login-panel">
        <h1>Sign up, start collecting now!</h1>
        <div class="signup-container">

          <form id="signup-form">
            <input type="text" id="username" placeholder="Username" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit" onclick="submitSignUpForm()">Sign Up</button>
          </form>
          <p class="switch-option">Already have an account? <a onclick="redirectToLoginPage()">Login</a></p>
        </div>
        <div id="appleid-signin" class="signin-button" data-color="black" data-border="true" data-type="sign-in"></div>
        <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
      </div>
    </div>
  </main>

  <footer>
    <%- include('./templates/footer.html') %>
  </footer>

</body>

</html>
