
:root {
    --light: #6472D0;
    --mid-light: #5460AE;
    --mid: #434D8C;
    --mid-dark: #333A6A;
    --dark: #232848;
    --grey-white: #e3e3e3;
    --font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--grey-white);
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.6s ease-in-out;
}

.content {
    width: 80%;
    max-width: 900px;
    background-color: #ffffff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 1s ease-in-out;

}

#general-settings, #account-settings , #collection-settings, #extra-settings {

}

.main {
    width: 90%;
    height: 90%;
    margin: 10% 5% 10% 5%;

    border-radius: 10px;
    background-color: white;

}

.settings-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-weight: bold;
    font-size: 1.2rem;
    background: none;
    color: var(--mid-dark);
    margin: 0 5% 2% 5%;
    cursor: pointer;
}

.settingsDesign {

}




h2 {
    color: #363e74;
    display: block;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}


    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        color: #ffffff;
        border: none;
        background-color: #6472D0;
        cursor: pointer;
        transition: background-color 0.5s;
    }

button:hover {

    background-color: #363e74;
    transition: background-color 1s;
}


label {
    color: #363e74;
    font-weight: bold;
    text-align: left;
}
 input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px;
    border-radius: 10px;
    color: #c0c5e8;
    border: none;
    background-color: #a9afd9;
     cursor: text;
     margin: 10px;
}

