
:root {
    --light: #6472D0;
    --mid-light: #5460AE;
    --mid: #434D8C;
    --mid-dark: #333A6A;
    --dark: #232848;
    --grey-white: #e3e3e3;
    --font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--grey-white);
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    max-width: 900px;
    background-color: #ffffff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.main {
    width: 90%;
    height: 90%;
    margin: 10% 5% 10% 5%;

    border-radius: 10px;
    background-color: white;
}

.settings-button {

}

.settingsDesign {

}

.settingsTabs {

}