:root {
  --light: #6472D0;
  --mid-light: #5460AE;
  --mid: #434D8C;
  --mid-dark: #333A6A;
  --dark: #232848;
  --grey-white: #e3e3e3;
  --font-size: 1.2rem;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--grey-white);
    font-family: Arial, sans-serif;
  }
  
  .switch-container {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .switch-container h1 {
    margin-bottom: 25px;
    font-size: 27px;
    color: var(--mid);
  }
  
  .switch-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .switch-container input[type="text"],
  .switch-container input[type="password"] {
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .switch-container input[type="text"]:focus,
  .switch-container input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 7px 2px var(--mid);
    transition: box-shadow 0.2s ease;
  }
  
  .switch-container button {
    padding: 15px 30px;
    background-color: var(--mid);
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .switch-container button:hover {
    background-color: var(--light);
  }
  
  .switch-container .switch-option {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .switch-container .switch-option a {
    color: var(--mid);
    text-decoration: none;
    font-weight: bold;
  }
  
  .switch-container .switch-option a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
