/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
  }
  
  /* Existing modal styles */
  .modal-left {
    width: 50%;
    text-align: center;
    padding: 10px;
    z-index: 100;
  }
  
  .modal-right {
    width: 50%;
    text-align: center;
    padding: 10px;
    z-index: 100;
  }
  
  .vertical-divider {
    width: 1px;
    background-color: #ccc;
    height: 70%;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-30%);
  }
  
  /* Adjustments for input fields and buttons */
  .modal-right input {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-right button {
    display: block;
    margin-top: 10px;
  }

  .cancel-button {
    margin-top: 20rem;
    width: auto;
  }
