/* Style the modal */

* {
  font-family: Inter, sans-serif;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
  }

.view-upper {
  display: block;
  padding: 10px;
  margin: auto;
}

.view-lower {
  display: block;
  padding: 10px;
  margin: auto;
}

form#selectionForm {
  display: block;
  align-items: center;
  margin: auto;

}

.input-group {
  color: #363e74;
  font-weight: bold;
  text-align: center;
}


.input-group label {
  display: block;
}


.input-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: #ffffff;
  border: 0;
  background-color: #7884d6;
  transition: background-color 0.5s;
}
.input-group select:focus {
  outline: none;
  background-color: #a9afd9;
  transition: background-color 1s;
}

.input-group select:hover {
  outline: none;
  background-color: #a9afd9;
  transition: background-color 1s;
}



.input-group input#color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  height: 50px;

  border: none;
  cursor: pointer;
  border-radius: 7px;
}

#color::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}
#color::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}

.input-group input#collection {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  background-color: #7884d6;
  transition: background-color 0.5s;
}

input#collection:focus {
  outline: none;
  background-color: #a9afd9;
  transition: background-color 1s;
}
input#collection:hover {
  outline: none;
  background-color: #a9afd9;
  transition: background-color 1s;
}

button#addCustomField {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  background-color: #6472D0;
  transition: background-color 0.5s;
}

button#addCustomField:hover {

  background-color: #363e74;
  transition: background-color 1s;
}

.custom-options input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 6px;
  border-radius: 10px;
  color: #c0c5e8;
  border: none;
  background-color: #a9afd9;
}
button#cancelBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border-radius: 10px;
  color: #c0c5e8;
  border: none;
  background-color: #434D8C;
  transition: background-color 0.5s;
}

button#cancelBtn:hover {
  text-decoration: underline;
  background-color: #743636;
  transition: background-color 0.5s;
}

button#saveBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  background-color: #363e74;
}

button#saveBtn:hover {
  text-decoration: underline;
  background-color: #627436;
  transition: background-color 0.5s;
}

  /* Existing modal styles */
  .modal-left {
    width: 50%;
    text-align: center;
    padding: 10px;
    z-index: 100;
  }
  
  .modal-right {
    width: 50%;
    text-align: center;
    padding: 10px;
    z-index: 100;
  }
  
  .vertical-divider {
    width: 1px;
    background-color: #ccc;
    height: 70%;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-30%);
  }
  
  /* Adjustments for input fields and buttons */
  .modal-right input {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-right button {
    display: block;
    margin-top: 10px;
  }

  .cancel-button {
    margin-top: 20rem;
    width: auto;
  }

.add-field, .remove-field {
  background: #ffffff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
}

.add-field {
  color: #64cd1e;
}

.remove-field {
  color: #cd1e1e;
}

.remove-field:hover {
    background: #cd1e1e;
    color: #ffffff;
}

.add-field:hover {
    background: #64cd1e;
    color: #ffffff;
}

.multi-fields, .multi-field {
    margin-top: 3%;
}

.multi-field-wrapper {
  margin-top: 2%;
  margin-bottom: 2%;
}

.textbox {
    border: 1px solid #848484;
    border-radius: 30px;
    outline: 0;
    height: 40px;
    width: 275px;
    padding-left: 10px;
    padding-right: 10px;
}

.textbox#collection-name {
  border: 3px solid #7884d6;
}
