* {
    padding: 0px;
    margin: 0px;
}

button.neumo{
    border-radius: 37px;
    background: #e0e0e0;
    box-shadow:  17px 17px 33px #bcbcbc, -17px -17px 33px #ffffff;
}

input.neumo {
    border: none;
    border-radius: 10px;
    padding: 5px;
    background: #F5F5F5;
    box-shadow: inset 3px 3px 7px #bcbcbc,
    inset -3px -3px 7px #ffffff;
}

label.check{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}

label-text.check {
    margin-left: 16px;
}

toggle.check {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}

toggle-state.check {
    display: none;
}

indicator.check {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow: -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
}

toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
}

.input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
    -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

