:root {
  --smoky-black: #12100e;
  --pine-tree: #98a320;
  --blue: #1672c8;
  --white: #ffffff;
  --font-size: 1.2rem;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mascotPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.mascotPicture img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: var(--font-size);
  border: 2px solid var(--smoky-black);
  border-radius: 25px;
  background-color: var(--white);
  color: var(--smoky-black);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.auth-buttons button:hover {
  background-color: var(--blue);
  color: var(--white);
}
