:root {
  --light: #6472D0;
  --mid-light: #5460AE;
  --mid: #434D8C;
  --mid-dark: #333A6A;
  --dark: #232848;
  --grey-white: #e3e3e3;
  --font-size: 1.2rem;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-white);
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 175px;
}

.mascotPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.mascotPicture img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.collectiqo-text {
  color: var(--mid-light);
}

.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login-panel .signup-container {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.login-panel h1 {
  text-align: left;
}

.login-panel .heading {
  color: var(--mid-light); /* Set color for the first <h1> */
  margin-bottom: 1px; /* Adjust spacing for the first <h1> if needed */
  text-align: left;
}

.login-panel .signup-container h1 {
  margin-bottom: 15px;
  font-size: 24px;
  color: var(--mid);
}

.login-panel .signup-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-panel .signup-container input[type="text"],
.login-panel .signup-container input[type="email"],
.login-panel .signup-container input[type="password"] {
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease;
}

.login-panel .signup-container input[type="text"]:focus,
.login-panel .signup-container input[type="email"]:focus,
.login-panel .signup-container input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 7px 2px var(--mid);
}

.login-panel .signup-container button {
  padding: 15px 30px;
  background-color: var(--mid);
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-panel .signup-container button:hover {
  background-color: var(--light);
}

.login-panel .signup-container .switch-option {
  margin-top: 15px;
  font-size: 14px;
}

.login-panel .signup-container .switch-option a {
  color: var(--mid);
  text-decoration: none;
  font-weight: bold;
}

.login-panel .signup-container .switch-option a:hover {
  text-decoration: underline;
  cursor: pointer;
}


