:root {
  --smoky-black: #12100e;
  --pine-tree: #98a320;
  --blue: #1672c8;
  --white: #ffffff;
  --font-size: 1.2rem;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mascotPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.mascotPicture img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-panel .signup-container {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-panel .signup-container h1 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #4285F4;
}

.login-panel .signup-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-panel .signup-container input[type="text"],
.login-panel .signup-container input[type="email"],
.login-panel .signup-container input[type="password"] {
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-panel .signup-container input[type="text"]:focus,
.login-panel .signup-container input[type="email"]:focus,
.login-panel .signup-container input[type="password"]:focus {
  outline: none;
  border-color: #4285F4;
}

.login-panel .signup-container button {
  padding: 15px 30px;
  background-color: #4285F4;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-panel .signup-container button:hover {
  background-color: #3367D6;
}

.login-panel .signup-container .switch-option {
  margin-top: 15px;
  font-size: 14px;
}

.login-panel .signup-container .switch-option a {
  color: #4285F4;
  text-decoration: none;
}

.login-panel .signup-container .switch-option a:hover {
  text-decoration: underline;
  cursor: pointer;
}


