:root {
    --light: #6472D0;
    --mid-light: #5460AE;
    --mid: #434D8C;
    --mid-dark: #333A6A;
    --dark: #232848;
    --grey-white: #e3e3e3;
    --white: #ffffff;
    --dark-grey: #383838;
    --font-size: 1.2rem;
}

.footer {
    padding: 12px 0 5px 0;
    background-color: var(--dark-grey);
    font-size: 0.7rem;
    text-align: center;
    margin-top: auto; /* Ensures the footer stays at the bottom */
    width: 100%;
}

.footer h1 {
    color: var(--white);
}

.footer p {
    color: var(--grey-white);
    font-size: 0.6rem;
}

/* Social Media in Footer */
.social-media {
    margin: 10px 0;
}

.social-media a {
    color: var(--grey-white);
    margin: 0 10px;
    font-size: 1.5rem;
}

.social-media a img {
    width: 8px; /* Set the width of the icon image */
    margin: -3px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(79%) sepia(7%) saturate(1305%) hue-rotate(302deg) brightness(98%) contrast(114%);
}

.social-media a i {
    transition: transform 0.2s ease-in-out;
}

.social-media a i:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.social-icon:hover {
    opacity: 0.8; /* Slightly fade on hover */
    cursor: pointer;
}

