:root {
    --light: #6472D0;
    --mid-light: #5460AE;
    --mid: #434D8C;
    --mid-dark: #333A6A;
    --dark: #232848;
    --grey-white: #e3e3e3;
    --font-size: 1.2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    overflow: hidden;
    background-color: var(--mid-dark);
    /*padding: 10px 10px;*/
    display: flex;
    align-items: center;
    width:100%;
}

.header img {
    max-width: 40px;
    height: auto;
    border-radius: 50%;
}

.header-nav-links {
    display: flex; /* Flexbox aktivieren */
    justify-content: space-around; /* Gleiche Abstände zwischen den Elementen */
    align-items: center; /* Vertikale Zentrierung */
    margin: auto; /* Zentriere das gesamte Menü */
    width: 50%;
}

.header-nav-links a {
    display: inline-block;
    color: var(--grey-white);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    width: 150px;
}

.header-nav-links a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}


@media screen  {
    .header {
        flex-direction: column;
    }

    .header-nav-links {
        margin: 10px 0 0 0;
    }
}
