<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../public/css/account-settings3.css" />
    <title>Account Settings | Collectiqo </title>


</head>


<body>
<section class="wrapper">
    <div class="container-3">
        <h2 class="centered-heading">My Settings</h2>
        <div class="grid wf-grid">
            <div class="profile div-block">
                <img src="" loading="eager" width="100" height="100" alt="" class="testimonial-main-image">
                <div class="testimonial-main-content">
                    <div class="w-form">
                        <form method="get" name="email-form" data-name="Email Form" id="email-form" class="form">
                            <label for="name">Name</label>
                            <input class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" type="text" id="name">
                            <label for="username">Username</label>
                            <input class="w-input" maxlength="256" name="username" data-name="username" placeholder="" type="text" id="username" required="">
                            <label for="email">Email Address</label>
                            <input class="w-input" maxlength="256" name="email" data-name="email" placeholder="Mail" type="email" id="email" required="">
                            <input type="submit" data-wait="Please wait..." class="submit-button w-button" value="Submit">
                        </form>
                        </div></div></div></div>
        <div class="block personals">
                <div class="header-labels">Personals</div><div class="w-form"><form method="get" name="email-form-2" data-name="Email Form 2" id="email-form-2">
                <textarea class="textarea w-input" maxlength="5000" name="field-2" data-name="Field 2" placeholder="About myself..." id="field-2"></textarea>
            </form>


            </div>
            </div>
                <div class="block platforms">
                    <div class="header-labels">Social Media</div>
            <div class="w-form">
                <form method="get" name="email-form-3" data-name="Email Form 3" id="email-form-3">
                    <label for="instagram">Instagram</label>
                    <input class="w-input" maxlength="256" name="instagram" placeholder="" type="text" id="instagram">
                    <label for="twitter">X (Twitter)</label>
                    <input class="w-input" maxlength="256" name="twitter"  placeholder="" type="text" id="twitter">
                    <label for="facebook">Facebook</label>
                    <input class="w-input" maxlength="256" name="facebook" placeholder="" type="text" id="facebook">
                    <input type="submit" class="submit-button w-button" value="Submit">
                </form>

            </div>
                </div>
            </div>
        </div>


</section>
</body>
</html>