<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="account-settings.css" /> -->
    <title>Account Settings</title>
</head>
<body>
<h1> My Settings </h1>
<p>Choose the following settings to customize your account</p>
<br>
<p>Set your Profil Picture</p>
<img src="../../../public/assets/img/avatar-male.png" height="128" width="128" alt="This is a picture of a male person" title ="Male Avatar">
<img src="../../../public/assets/img/avatar-female.png" height="128" width="128" alt="This is a picture of a female person" title ="Female Avatar">
<p>Set your <b>Nickname</b></p>

<form>

    <div>
        <label for="nname">nickname:</label>
        <input type="text" id="nname" name="nname" placeholder="MadMax">
    </div>

    <br>

    <div>
        <label for="fname">first name:</label>
        <input type="text" id="fname" name="fname" placeholder="Max">
    </div>

    <br>

    <div>
        <label for="lname">last name:</label>
        <input type="text" id="lname" name="lname" placeholder="Mustermen">
    </div>

    <br>

    <div>
        <label for="pass">password:</label>
        <input type="password" id="pass" name="pass" maxlength="16">
    </div>

    <br>

    <div>
        <input type="reset">
    </div>

</form>

<p>Change your e-mail address</p>
<p>Change your password</p>
<p>Delete your account</p>
<p>Set your Birthday</p>
<p>Instagram Account</p>
<p>Other Social media shit account</p>

<button style="background-color: lightskyblue;border-radius:5px">Save profile settings</button>

<a href=/lorackdev.github.io/root/index.html?">
    <button style="background-color: lightgrey;border-radius:5px">Cancel</button>
</a>
</body>
</html>