<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/433b24fc29.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!--    <link rel="stylesheet" href="/css/home.css">-->
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/account-settings.css">
    <link rel="stylesheet" href="/css/templates/sidebar.css">
    <link rel="stylesheet" href="/css/templates/new-collection-modal.css">
    <link rel="stylesheet" href="/css/templates/footer.css">
    <script src="/js/home-navigation.js"></script>
    <script src="/js/sidebar.js"></script>
<!--    <script src="/js/calcTH.js"></script>-->
    <script src="/js/modal.js"></script>
    <script src="/js/collection-action.js"></script>

    <title>Home</title>
</head>

<body>

<%- include('../../templates/sidebar.ejs') %>

<div class="content-container">
    <div class="content">

        <button class="settings-button" id="general-settings-btn">General</button>
        <button class="settings-button" id="collection-settings-btn">Collections</button>
        <button class="settings-button" id="account-settings-btn">Account</button>
        <button class="settings-button" id="extra-settings-btn">Extras</button>

        <div class="settingsDesign">

    <div id="general-settings">
        <h2>General</h2>

        <form id="generalSettingsForm">



        </form>
    </div>

    <div  id="account-settings" style="display: none;">
        <h2>Account Management</h2>

        <form id="usernameUpdateForm">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <button type="submit">Update Username</button>
        </form>

        <form id="emailUpdateForm">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Update E-Mail</button>
        </form>

        <form id="passwordChangeForm">
            <div class="form-group">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword">
            </div>

            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword">
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
            </div>

            <button type="submit">Change Password</button>
            <button type="button" id="logoutButton">Logout</button>
        </form>
    </div>

            <div id="collection-settings" style="display: none;">
                <h2>Collection Settings</h2>

            </div>

    <div id="extra-settings" style="display: none;">
        <h2> Social Media </h2>
        <form id="socialMediaSettingsForm">
            <div class="form-group">
                <label for="facebook">Facebook:</label>
                <input type="text" id="facebook" name="facebook">
                <label for="twitter">Twitter:</label>
                <input type="text" id="twitter" name="twitter">
                <label for="instagram">Instagram:</label>
                <input type="text" id="instagram" name="instagram">
                <label for="website">Discord:</label>
                <input type="text" id="discord" name="discord">
            </div>
        </form>
        <h2>Delete Account</h2>

        <form id="accountDeletionForm">
            <button type="button" onclick="confirmAccountDeletion();">Delete Account</button>
        </form>
    </div>
        </div>

    </main>

        <script src="/js/account-settings.js" type="module"></script>

        <%- include('../../templates/new-collection-modal.html') %>
    </div>

</div>

</body>
<footer>
    <%- include('../../templates/footer.html') %>
</footer>
</html>



