<div class="footer">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

  <h1>Collectiqo.com</h1>
  <div class="social-media">
    <a target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
    <a target="_blank" aria-label="Twitter"><i class="fa-brands fa-discord"></i></a>
    <a target="_blank" aria-label="Threads"><i class="fa-brands fa-x-twitter"></i></a>
  </div>

<p>Copyright &copy; 2024 All rights reserved.</p>

</div>