<div id="new-collection-modal" class="modal">
    <div class="modal-content">
        <form id="selectionForm">
            <h2>New Collection</h2>
            <div class="view-upper">
                <div class="input-group">
                    <label for="customCollection">Custom Collection</label>
                    <input type="checkbox" id="customCollection" name="customCollection">
                </div>
                <div class="input-group" id="presetGroup">
                    <label for="preset">Preset</label>
                    <select id="preset" name="preset">
                    </select>
                </div>
                <div class="input-group">
                    <label for="imageUpload">Image Upload</label>
                    <input type="file" id="imageUpload" name="imageUpload" accept="image/*">
                </div>
                <div class="input-group">
                    <label for="color">Color</label>
                    <input type="color" id="color" name="color">
                </div>
            </div>
            <div class="view-lower">
                <div class="input-group">
                </div>
                <div class="multi-field-wrapper">
                    <input type="text" id="collection-name" class="textbox" placeholder="Enter collection name">
                    <button type="button" class="add-field">+</button>
                    <div class="multi-fields">
                        <div class="multi-field">
                            <input type="text" name="customField[]" class="textbox" placeholder="Enter field name">
                            <button type="button" class="remove-field">-</button>
                    </div>
                </div>
            </div>

                <div class="input-group">
                    <button type="button" id="cancelBtn">Cancel</button>
                    <button type="submit" id="saveAsTemplateBtn">Save as template</button>
                    <button type="submit" id="saveBtn">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/modal/cancel-button.js"></script>
<script src="/js/modal/save-button.js"></script>
<script src="/js/modal/save-as-template-button.js"></script>
<script src="/js/modal/custom-collection-checkbox.js"></script>
<script src="/js/modal/preset-loading.js"></script>