
<div id="myModal" class="modal">
    <div class="modal-content">
        <form id="selectionForm">
            <div class="input-group">
                <label for="preset">Preset:</label>
                <select id="preset" name="preset">
                        <option value="x" disabled selected>Select preset...</option>
                        <option value="video games">video games</option>
                        <option value="perfume">perfume</option>
                        <option value="movies">movies</option>
                        <option value="custom">Custom</option>
                </select>
            </div>
            <div class="input-group">
                <label for="color">Color:</label>
                <input type="color" id="color" name="color">
            </div>
            <div class="input-group">
                <label for="collection">Collection Name:</label>
                <input type="text" id="collection" name="collection">
            </div>
            <div class="custom-options">
                <div class="input-group">
                    <label for="custom1">Custom 1: </label>
                    <input type="text" id="custom1" name="custom1">
                </div>
            </div>
            <div class="input-group">
                <button type="button" id="addCustomField">+</button>
            </div>
            <div class="input-group">
                <button type="button" id="cancelBtn">Cancel</button>
                <button type="submit" id="saveBtn">Save</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/modal-action.js"></script>