<header class="header">
    <button class="btn-toggle" style="display:none;"><i class="fa-solid fa-bars"></i></button>

    <a href="#" class="header_item" id="homeLink">
        <div class="header_icon">
            <i class="fa-solid fa-house"></i>
        </div>
        <h4>Home</h4>
    </a>

    <a href="#" class="header_item" id="settings_link">
        <div class="header_icon">
            <i class="fa-solid fa-sliders"></i>
        </div>
        <h4>Settings</h4>
    </a>

    <a href="#" class="header_item">
        <div class="header_icon">
            <i class="fa-solid fa-user"></i>
        </div>
        <h4>Profile</h4>
    </a>

    <a href="#" class="header_item">
        <div class="header_icon">
            <i class="fa-solid fa-envelope"></i>
        </div>
        <h4>Messages</h4>
    </a>

    <a href="#" class="header_item" id="openModalBtn">
        <div class="header_icon">
            <i class="fa-solid fa-plus"></i>
        </div>
        <h4>New Collection</h4>
    </a>

    <a href="#" class="header_item" id="logoutBtn">
        <div class="header_icon">
            <i class="fa-solid fa-door-open"></i>
        </div>
        <h4>Logout</h4>
    </a>
</header>
